

.middle-section {   
  display: flex;  
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.middle-section>div{
  flex-grow: 1;
  
  
}

.image-center{
  
  background-image: url('../../assets/figure.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom; 
  height: 750px;
  width: 500px;

}

.image-search{
  
  background-image: url('../../assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 750px;
  width: 500px;

  display: flex;
  align-items: center;
  justify-content: left;

}


.search-box{
  height: 250px;
  width: 360px;
  background-color: #ffffff;
  border-radius: 25px;
  
}

.search-box>*{
  height: 50px;
  padding: 1rem 0;
  margin: 1rem 0;
}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer section{  
  padding: 0.75rem  5rem;  
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: #7e7a7a
}



