.App {
  
}

.App-header {  
  display: flex;  
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.image-center{
  
  background-image: url('../../assets/figure.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom; 
  height: 726px;
  width: 500px;

}


.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  background-color: #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer section{  
  padding: 0.75rem  5rem;  
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  color: #7e7a7a
}



